@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    background-color: var(--dark-jungle-green);
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 10rem;
    position: sticky;
    font-size: var(--medium);
    padding: 50px;
  }

  .navbar__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .navbar__logo {
    width: 70px;
    max-width: 30rem;
    height: 50%;
    object-fit: cover;
  }

  .navbar__right {
    display: none;
  }

  .navbar__menu-icon {
    display: flex;
    cursor: pointer;
    width: 20%;
    margin-right: 10px;
  }

  .navbar__name {
    font-size: var(--xlg);
  }

  .navbar__list {
    display: flex;
    width: 100%;
    background-color: var(--dark-jungle-green);
    list-style: none;
    gap: 20px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    background-color: var(--dark-jungle-green);
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 10rem;
    position: sticky;
    font-size: var(--medium);
    padding: 50px;
  }
  .navbar__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .navbar__logo {
    width: 70px;
    max-width: 30rem;
    height: 50%;
    object-fit: cover;
  }
  .navbar__menu-icon {
    display: none;
  }

  .navbar__list {
    display: flex;
    width: 100%;
    background-color: var(--dark-jungle-green);
    list-style: none;
    gap: 20px;
  } 
  .navbar ul li a {
    font-weight: lighter;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  .nav-list--show {
    transform: translateY(0%);
    box-shadow: none;
  }
  .navbar__name {
    font-size: var(--xlg);
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
  }
}
